@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-right">
    <h1 class="display-4">Bem-vindo ao site Cadastra Controla</h1>
    <br><br>
    <p>É aqui onde que você irá realizar o controle dos seus funcionários, cadastrando, atualizando ou até mesmo deletando.</a></p>   
</div>
